body {
  font-size: 24px;
  height: 100%;
}

.box {
  position: fixed;
  width: 100%;
  height: 65px;
  background: #999;
  top: 0;
  border-bottom: 2px solid gray;
}

/* Box rules: percentages define anchors (i.e. position of each box relative to browser window) */

#nameBox {
  position: fixed;
  top: 0;
  text-align: center;
  left: 20%;
  width: 12%;
  height: 65px;
  background-color: white;
}

nav {
  position: fixed;
  top: 0;
  right: 18%;
  width: 25%;
  font-size: 20px;
}

.navItems {
padding: 5%;
}

.container {
  background: url(../images/snow.png) whitesmoke;
  padding: 2% 5%;
  margin-top: 65px;
}

.main {
  margin: 0% 20% 0% 20%;
  overflow: auto;
  background-color: white;
  padding: 30px;
}

.mainHeading {
  border-bottom: 4px solid gray;
  padding: 15px;
  margin-bottom: 20px;
}

img {
  height: 200px;
  width: 200px;
  float: left;
  padding-right: 20px;
  padding-bottom: 15px;
}
 

p {
  line-height: 150%;
}

footer {
  height: 5%;
  width: 100%;
  clear: both;
  text-align: center;
  background-color: white;
  border-top: 8px solid black;
}


