* {
  
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  height: 100%;
  background: url(../images/lake.jpg) whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0;
  opacity: .6;
}

#nameBox {
  position: fixed;
  top: 0;
  text-align: center;
  left: 25%;
  width: 18%%;
  height: 65px;
  color: white;
  font-weight: bold;
  font-size: 28px;
}

nav {
  position: fixed;
  top: 0;
  right: 18%;
  width: 35%;
  box-sizing: border-box;
}

.navItems {
padding: 5%;
color: white;
font-weight: bold;
box-sizing: inherit;
}

.navItems:hover {

  background-color: blue;
}

img {
  float: left;
}
.container {

  padding: 2% 5%;
  margin-top: 65px;
 
}

.main {
  margin: 0% 20% 0% 20%;
  overflow: auto;
  background-color: white;
  padding: 30px;
  font-weight: stronger;
}

.mainHeading {
  border-bottom: 4px solid gray;
  padding: 15px;
  margin-bottom: 20px;
}


.portfolio img {
  height: 200px;
  width: 200px;
  float: left;
  padding-right: 20px;
  padding-bottom: 15px;
}

grow { 
  transition: all .2s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.1); 
}
p {
  line-height: 150%;
}

footer {
  height: 5%;
  width: 100%;
  clear: both;
  text-align: center;
  color: black;
}


.